.container {
  display: flex;
  flex-wrap: wrap;

  .card {
    border: 1px solid var(--tag-light);
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px var(--tag-light);
    flex: 1 0 calc(50% - 1rem);
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    position: relative;

    > p {
      margin-bottom: 0.5rem;
    }

    .name {
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0;

      .gender {
        font-size: 1rem;
        font-weight: normal;
        margin-left: 0.5rem;

        &:after {
          content: ')';
        }

        &:before {
          content: '(';
        }
      }
    }

    .cross {
      color: var(--tag-dark);
      cursor: pointer;
      font-size: 2rem;
      position: absolute;
      right: 0.5rem;
      top: -0.5rem;
    }
  }
}
