.header {
  background-color: var(--header-color);
  box-shadow: 0 1px 0.25rem var(--header-color);
  color: var(--white);
  display: flex;
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
  padding: 1rem;

  .sidebar {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;

    .item {
      color: #f1f1f1;
      margin-left: 0.5rem;
    }
  }
}
